@tailwind base;
@tailwind components;

body {
  background-color: #1D1B24;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

/* Colors */
  .light-gray {
    color: #ABABAB;
  }

  .light-blue {
    color: #00CDAF;
  }

/* Navbar */
  .nav {
    background-color: #1D1B24;
    height: 110px;
    transition: 0.3s ease-in-out;
  }

  @media screen and (min-width: 1280px) {
    .active {
      color:#00CDAF;
      font-weight: bold;
    }
  }

  .nav.reduite{
    background-color: #1C1C1C !important;
    height: 90px;
    transition: 0.3s ease-in-out;
  }

  nav > div > hr {
    border-top: 6px solid #00CDAF;
    border-radius: 3px;
    width: 54px;
  }

  .nav-ul > li > a:hover {
    color: #00CDAF;
  }

/* Menu burger */
  #btn-menu {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0;
    vertical-align: top;
    line-height: 47px;
    float: right;
  }

  #menu-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  #sidebar-menu {
    display: none;
    position: fixed;
    width: 84%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1D1B24;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
  }

  #sidebar-menu li {
    display: block;
  }

  #sidebar-header {
    background-image: url(../img/banniere.png);
    background-size: cover;
    height: 250px;
  }

  @media screen and (max-width: 768px) {
    #sidebar-header {
      height: 200px;
    }
  }

  @media screen and (max-width: 480px) {
    #sidebar-header {
      height: 128px;
    }
  }

  #sidebar-body {
    padding: 16px 40px;
    
  }

  #sidebar-body > li {
    margin: 10px;
    color: #fff;
  }

  @media screen and (max-width: 1024px) {
    #menu {
      display: none;
    }

    #btn-menu, #sidebar-menu, .menu-activated #menu-overlay {
      display: block;
    }

    .menu-activated #sidebar-menu {
      transform: translateX(0);
    }

    #social {
      display: none;
    }

    #sidebar-social {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }

    #sidebar-social > a > img {
      height: 30px;
      width: auto;
    }
  }

  @media screen and (max-height: 400px) {
    #sidebar-body {
      display: none;
    }
  }

/* Socials */
  .socials > a > img {
    height: 30px;
    width: auto;
  }

  .hide {
    display: none;
  }

  .image-hover:hover img:first-child {
    display: none;
  }

  .image-hover:hover img:last-child {
    display: inline-block;
  }

/* Fake text */
  .fake-text {
    color: #2A2931;
    z-index: -1;
    font-size: 170px;
    font-weight: bold;
    position: absolute;
    top: 6.5rem;
  }

/* Scroll arrows */
  .arrowDown {
    height: 80px;
    width: 20px;
  }

  .scroll-text {
    color: #ABABAB;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

/* Cercles bleus */
  .blue-circle-comp {
    background-color: #00CDAF;
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }

  .blue-circle-comp > img {
    height: 35px;
    width: auto;
  }

/* Cercles bleus */
  .blue-circle {
    background-color: #00CDAF;
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }

  .blue-circle > img {
    height: 35px;
    width: auto;
  }

/* Page 1 */
  .cadre {
    background-color: #111318;
    max-height: 644px;
    max-width: 491px;
    border-radius: 3px;
    padding: 20px;
  }

  .cadre > img {
    height: auto;
    max-width: 100%;
    border-radius: 2px;
  }

  div > a > img {
    height: 60px;
    width: auto;
  }

/* Formulaire */
  input, textarea{
    background-color: #1D1B24;
    color: #C4C4C4;
    border: 1px solid #FEFEFE;
  }
  
  .button {
    background-color: #00CDAF;
    color: #1C1C1C;
    padding: 15px 30px;
  }

  .blue-hr {
    border-top: 6px solid #00CDAF;
    border-radius: 3px;
    width: 508px;
  }

  .social-img {
    height: 30px;
    width: auto;
  }
  
  .arrowUp {
    height: 100px;
    width: auto;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    background-color: #1D1B24;
    color: #C4C4C4;
    border: 1px solid #FEFEFE;
  }

/* Footer */
  footer {
    height: 60px;
    color: #C4C4C4;
  }

  .footer-hr {
    border: 1px solid #707070;
  }



/* Media queries */
  @media (max-height: 900px) {
    .fake-text {
      top: 0px !important;
    }

    /* Page 1 */
      .cadre {
        background-color: #111318;
        max-height: 550px;
        max-width: 419px;
        border-radius: 3px;
        padding: 20px;
      }

      .cadre > img {
        height: auto;
        max-width: 100%;
        border-radius: 2px;
      }

      div > a > img {
        height: 60px;
        width: auto;
      }
  }

  @media (max-width: 1897px) { 
    .fake-text {
      font-size: 150px;
    }

  }

  @media (max-width: 1670px) { 
    /* Fake-text */ 
      .fake-text {
        font-size: 120px;
      }
  }

  @media (max-width: 1536px) {
    .nav {
      height: 100px;
    }
  
    .nav.reduite{
      height: 80px;
    }
  }

  @media (max-width: 1280px) { 
    /* Fake-text */ 
      .fake-text {
        font-size: 90px;
      }
  }

  @media (max-width: 1024px) { 
    /* Fake-text */ 
      .fake-text {
        font-size: 70px;
      }

    /* Page 1 */
    .cadre {
      background-color: #111318;
      max-height: 450px;
      max-width: 343px;
      border-radius: 3px;
      padding: 20px;
    }

    .cadre > img {
      height: auto;
      max-width: 100%;
      border-radius: 2px;
    }

    div > a > img {
      height: 60px;
      width: auto;
    }
  }

  @media (max-width: 767px) {
    /* Menu burger */
      .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
      }

      .nav-ul.show {
        display: flex;
      }

      .menu {
        display: block;
      }

    /* Fake-text */ 
      .fake-text {
        font-size: 50px;
      }

    /* HR Form */
      .blue-hr {
        width: 345px;
      }

    .arrowUp {
      height: 80px;
      width: auto;
    }
  }

  @media (max-width: 639px) {
    /* Fake-text */ 
    .fake-text {
      font-size: 35px;
    }
  }

  @media (max-width: 480px) {
    /* Cercles bleus */
      .blue-circle {
        background-color: #00CDAF;
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
      .blue-circle > img {
        height: 25px;
        width: auto;
      }

    /* HR Form */
      .blue-hr {
        width: 215px;
      }

    .fake-text {
      color: #484752;
    }
  }

  @media (max-width: 317px) {
    .intro > h2 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .intro > h3 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    #accueil > h1 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    .fake-text {
      font-size: 26px;
    }
  }


  @tailwind utilities;